<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="Serveur"
             connectionString="192.168.1.109"
             providerName="MySql.Data"/>
    <add name="port"
             connectionString="3306"
             providerName="MySql.Data"/>
    <add name="Base"
             connectionString="mesbouquins"
             providerName="MySql.Data"/>
    <add name="identificateur"
             connectionString="olivier"
             providerName="MySql.Data"/>
    <add name="mdp"
             connectionString="olivier"
             providerName="MySql.Data"/>
  </connectionStrings>
  <appSettings>
    <add key="Serveur"
             value="192.168.1.109"/>
    <add key="port"
             value="3306"/>
    <add key="Base"
             value="mesbouquins"
           />
    <add key="identificateur"
             value="olivier"/>
    <add key="mdp"
             value="olivier"
             />
    <add key="idxcourse"
             value=""
             />
  </appSettings>
</configuration>