/*********** Fixer le style global ******************/
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: black;
  background-color: white;
}

h1, h2, h3, h4, h5{
  font-family: 'Bodoni Moda', serif;
}
header{
  background-color: #086FA1;
}

/*************************************************/

/*************************************************
Menu
/*DEBUT MENU BURGER*/
#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;   
  z-index: 1;   
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle p {
   color: black;
   font-weight: bold;
   font-size: 20px;
} 
#menuToggle a
{
  text-decoration: none;
  color: #232323;   
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
} 
#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
} 
#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;   
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);   
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
} 
#menu li
{
  padding: 10px 0;
  font-size: 18px;
} 
#menuToggle input:checked ~ ul
{
  transform: none;
}
/*FIN MENU BURGER*/


 /****************************************************
    **     Inscription  Connexion          **
    ****************************************************/


  .btnConnexion {
    background-color: #FF5300;
    Color:white;
    padding: 10px 40px;
    border-radius: 3px;
    text-decoration: none;
  }

  .btnConnexion a{
    Color:white;
    text-decoration: none;
  }

  .btnConnexion a:hover{
    Color:white;
    text-decoration: none;
  }


  .parent {
   float : right;
    }
    
    

 /****************************************************
    **     Pour largeur > 768px                        **
    ****************************************************/
  
    @media screen and (min-width: 768px) {
     
    
      /********* afficher le menu à droite du logo ******************/
  
    
      
      /********* Font-size du texte ******************/
      .main-content h1 {
        font-size: 3.6rem;
      }
    
      .main-content h2 {
        font-size: 2.7rem;
      }
    
      .main-content p {
        font-size: 1.6rem;
      }
    }
    
    /****************************************************
      **     Pour largeur > 992px                        **
      ****************************************************/
    @media screen and (min-width: 992px) {
      /********* Font-size du texte ******************/
      .main-content h1 {
        font-size: 3.8rem;
      }
    
      .main-content h2 {
        font-size: 2.85rem;
      }
    
      .main-content p {
        font-size: 1.6rem;
      }
    }
    
    /****************************************************
      **     Pour largeur > 1200px                       **
      ****************************************************/
    @media screen and (min-width: 1200px) {
      /********* Font-size du texte ******************/
      .main-content h1 {
        font-size: 4rem;
      }
    
      .main-content h2 {
        font-size: 3rem;
      }
    
      .main-content p {
        font-size: 1.6rem;
      }
    }



    