/* Sélectionne l'élément racine du document */
/* Pour un document HTML, c'est <html> */
html {
  /* --main-blue-color: rgb(0, 165, 171);
  --main-pink-color: rgb(226, 1, 107); */
  --main-text-color: #444444;
  --main-a-color: #0071bc;
  --h1-text-color: #FF6F00;
  --h2-text-color: #FF6F00;
  --h3-text-color: #FF6F00;

  --header-logo-text-color: rgb(247, 120, 12);
  --header-text-color: #0071bc;
  --footer-bg-color: #242424;
  --footer-text-color: white;

  --nav-bg-color: white;
  --nav-bg-active-color: white;
  --nav-text-color: #0071bc;
  --nav-text-hover-color: rgb(247, 120, 12);
  --nav-text-active-color: #0071bc;

  --nav-toggle-bg-color: #0071bc;

  --nav-toggle-bg-active-color: var(--nav-toggle-bg-color);
  --nav-toggle-text-color: #0071bc;
  --nav-toggle-text-hover-color: #FF6F00;
  --nav-toggle-text-active-color: #FF4100;

  --gallery-item-border-color: #dedede;
}

/*MENU BURGER KEVIN----------------------------------------*/
#menuToggle {
  display: block ;
  position: relative;
  top: 80px;
  left: 40px;
  z-index: 1;  
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}
#menuToggle a:hover
{
  color: tomato;
}
#menuToggle input
{
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -7px;
  left: -5px;  
  cursor: pointer;  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
#menuToggle span
{
  display: block;
  width: 40px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ff5300;
  border: 2px solid #9d3301;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background-color 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
}
#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
  position: absolute;
  width: 300px;
  margin: -80px 0 0 -40px;
  padding: 10px;
  padding-top: 103px;
  border-radius: 0 0 10px 0;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  color: white;
  background-color: #0071bc;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  text-align: center;
}
#menu li
{
  padding: 10px 0;
  font-size: 22px;
  border-bottom: 1px solid #FF6F00;
  background-color: white;
  padding:20px 10px 15px 10px;
  border-radius: 2px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}
/* FIN MENU BURGER KEVIN----------------------------------------*/


/* champs de recherche du header  */
.header-wrapper form {
  width: auto;
  float: right;
  margin: 20px;
  font-weight: bold;
  color: white;
}
.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
}
  .control input {
      position: absolute;
      z-index: -1;
      opacity: 0;
  }
.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border: 0px solid #000000;
  border-radius: undefinedpx;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #cccccc;
}

.control input:checked ~ .control_indicator {
  background: #ff5300;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: #ff5300;
}
.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}
.control-radio .control_indicator {
  border-radius: 50%;
}

.control-radio .control_indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #ffffff;
  transition: background 250ms;
}
.control-radio input:disabled ~ .control_indicator:after {
  background: #7b7b7b;
}.control-radio .control_indicator::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: -1.3rem;
  margin-top: -1.3rem;
  background: #2aa1c0;
  border-radius: 3rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);
}
@keyframes s-ripple {
  0% {
      opacity: 0;
      transform: scale(0);
  }
  20% {
      transform: scale(1);
  }
  100% {
      opacity: 0.01;
      transform: scale(1);
  }
}
@keyframes s-ripple-dup {
 0% {
     transform: scale(0);
  }
 30% {
      transform: scale(1);
  }
  60% {
      transform: scale(1);
  }
  100% {
      opacity: 0;
      transform: scale(1);
  }
}
.control-radio input + .control_indicator::before {
  animation: s-ripple 250ms ease-out;
}
.control-radio input:checked + .control_indicator::before {
  animation-name: s-ripple-dup;
}
.container-input-recherche {
  display: inline-flex;
}



/****************************************************
**     GLOBAL                        **
****************************************************/
/*********** Fixer le style global ******************/
html {
  font-size: 0.625rem;
}
body {
  font-size: 1.6rem;
  color: var(--main-text-color);
  font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  margin: 0;
  padding: 0;
  
}
h1, h2, h3, h4, h5{
  font-family: 'Merriweather', serif;
  width:100%;
}
/*********** Grille globale ******************/
.page-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  /* pour 100vh sur chrome mobile (cf code JS dans index.html) */
  min-height: calc(var(--vh, 1vh) * 100);
 
}
/*********** Header ******************/
.header-wrapper {
  /*center le header  dans le viewport horizontal*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0rem;
  padding-right: 0rem;
  align-items: center;
  background-color: #0082BA;
  height: auto; 
}
.main-header {
  background-color: #0082BA;
  position: relative;
  width: 100%;
}

/*********** Logo ******************/
.header-logo {
  display: inline-block;
  font-size: 3rem;
  line-height: 10rem;
  height: fit-content;
  color: #FFF;
  font-family: 'Merriweather', serif;
  text-decoration: none;
  min-height: 100px;
  padding-bottom: 1.5rem;
  padding-left: 14rem;
  padding-top: 0.4rem;
  font-weight: bold;
  /* placement du logo */
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 0.5rem;
  background: url("img/logo-mes-bouquins.svg");
  /* background-size: 13rem 2.4rem;*/
  background-repeat: no-repeat;
  background-position: top left;
}


/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/*********** Image bandeau ******************/
.header-img {

  background: url("img/bandeau3.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;

  border-bottom: var(--header-text-color) solid 0.7rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

  display: block;
  width: 100%;
  max-width: 120rem;
  aspect-ratio: auto 1200 / 203;
}

/*********** Article principal ******************/
.article-wrapper {
  /*center l'article dans le viewport horizontal*/
  display: flex;
  justify-content: center;
  padding: 1.5rem 6em;
  
}

.main-article {
  /* fixer la largeur maxi du contenu (1170p + 30px de marge = 1200px) */
  /* width: 100%; */
  max-width: 117rem;
  /* Texte de l'article */
  text-align: justify;
  color: var(--main-text-color);
}

.main-article img {
  width: 100%;
  max-width: 55rem;
  display: block;
  margin: auto;
  border: 1px solid var(--header-bg-color);
}

.main-article a {
  text-decoration: none;
  color: var(--main-a-color);
}

.main-article p {
  font-weight: normal;
}

/* Pour largeur < 768px */
.main-article h1 {
  font-size: 2.55rem;
  color: var(--h1-text-color);
  font-weight: 600;
  text-align: start;
  background-color: #0082BA;
  color: white;
  text-align: center;
  border-radius: 15px 15px 5px 5px;
  padding: 10px 20px;
  border-bottom: 2px solid #9d3301;
}

.main-article p:first-of-type strong{
  font-size: 1.7rem;
  color: var(--nav-text-color);
  font-weight: 500;
  font-style: italic;
}

.main-article h2 {
  font-size: 1.87rem;
  color: var(--h2-text-color);
  font-weight: 600;
  text-align: center;
  display: inline-block;
}

.main-article h3 {
  font-size: 1.7rem;
  font-style: italic;
  color: var(--h3-text-color);
  font-weight: 500;
  text-align: start;
}

.main-article p {
  font-size: 1.6rem;
  color: var(--main-text-color);
}

/*********** liste items ******************/
.list-items {
  list-style-type: none;
  margin: 0;
  padding-left: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/*********** pagination links ******************/
.pagination {
  list-style-type: none;
  /* margin: 0; */
  padding-left: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.pagination li a {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: var(--main-text-color);
  border-radius: 1rem;
}

.pagination .active a {
  color: var(--nav-bg-color);
  background-color: var(--nav-text-hover-color);
}

.pagination .pager-next-previous {
  border: var(--nav-text-color) solid 0.1rem;
}



/* LISTE DE RESULTAT RECHERCHE */
.container-liste-recherche {
  font-size: 18px;
  padding: 10px 20px;
  border: 1px solid #9d3301;
  background-color: #0082bad1;
  color: white;
  margin-bottom: 10px;
  border-radius: 2px;
}
.container-image {
  margin: 0 5%;
  max-width: 40%;
}
.container-notations {
  text-align: end;
}

/*********** Footer ******************/

.footer-wrapper {
  /*center le footer dans le viewport horizontal*/
  display: flex;
  justify-content: center;
  padding: 0rem;
}

.main-footer {
  background-color: var(--footer-bg-color);
  /* fixer la largeur maxi du contenu (1170p + 30px de marge = 1200px) */
  width: 100%;
 
  padding: 1.5rem;
}

.footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.footer-links a {
  color: var(--footer-text-color);
  /* opacity: 0.6; */
  text-decoration: none;
  padding-right: 1.5rem;
}

/****************************************************
  **     Pour largeur > 768px                        **
  ****************************************************/

@media screen and (min-width: 768px) {

  /********* Font-size du texte ******************/
  .main-article h1 {
    font-size: 2.8rem;
  }

  .main-article p:first-of-type {
    font-size: 1.87rem;
  }

  .main-article h2 {
    font-size: 2.5rem;
  }

  .main-article h3 {
    font-size: 1.87rem;
  }

  .main-article p {
    font-size: 1.6rem;
  }

  /********* Image article *********************/
  .main-article img {
    width: 100%;
    max-width: 75rem;
    display: block;
    border: 1px solid var(--header-bg-color);
    margin: 0x auto;
    display: inline-block;
    float:none;
  }
}

/****************************************************
  **     Pour largeur > 992px                        **
  ****************************************************/
@media screen and (min-width: 992px) {

  /********* Font-size du texte ******************/
  .main-article h1 {
    font-size: 3rem;
  }

  .main-article h2 {
    font-size: 2.7rem;
  }

  .main-article p {
    font-size: 1.6rem;
  }
}

/****************************************************
  **     Pour largeur > 1200px                       **
  ****************************************************/
@media screen and (min-width: 1200px) {

  /********* Font-size du texte ******************/
  .main-article h1 {
    font-size: 2.8rem;
  }

  .main-article h2 {
    font-size: 2.7rem;
  }

  .main-article p {
    font-size: 1.6rem;
  }
}